html, body {
  background: #fcfcfc;
  color: #222;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
}

header {
  background: rgba(240, 240, 240, 1);
  box-shadow: inset 0 -1px 2px 0 #bbb, inset 0 1px 2px 0 #bbb, inset 2px 0 2px 0 #bbb, inset -2px 0 2px 0 #bbb;

  box-sizing: border-box;

  font-family: "Gill Sans", sans-serif;
  font-size: 91%;
  padding: 1.8em 3em 2.7em;
  min-height: 6em;

  text-align: center;

  position: fixed;
  top: 0; left: 0;

  max-width: 600px;
  width: 100%;

  z-index: 1;

  transition: all 1s;
}

header h1 {
  font-weight: 600;
  letter-spacing: .01em;
  margin: .25em;
}

header p {
  color: #464646;
  font-weight: 300;
  margin: 0 auto;
  max-width: 20em;
}

header p b {
  color: #363636;
  display: block;
  font-size: 108%;
  font-weight: 600;
  margin: .2em 0 .25em 0;
}

main {
  position: fixed;
  height: 100vh;
  width: 100vw;
  top: 0; left: 0;
  z-index: 1;
}

ul {
  display: flex;
  justify-content: space-between;

  margin: 0;
  padding: 0;

  height: 100%;
  width: 100%;

  position absolute;
  left: 0;
  top: 0;
}

li {
  list-style-type: none;
  width: 50%;
  margin: 0;
  padding: 0;
}

.emoji {
  font-weight: 400;
}

@media only screen and (min-width: 600px) {
  header {
    font-size: 100%;
    margin-top: -4em;
    min-height: 6em;
    padding: 1.8em 3em 2.7em;
    position: static;
    width: auto;
  }
}